POSTGRES_DB=hangout_db
POSTGRES_USER=hangout_user
POSTGRES_PASSWORD=your_password_here
DATABASE_URL=postgresql+asyncpg://hangout_user:your_password_here@postgres:5432/hangout_db
MONGO_URL=mongodb://mongodb:27017/hangout
SECRET_KEY=your_super_secret_key_here_min_32_chars

BUCKET_USER=bucket_user
BUCKET_PASSWORD=your_password_here
BUCKET_NAME=hangout
BUCKET_REGION=us-east-1

BUCKET_ENDPOINT_URL=http://minio:9000
BUCKET_PUBLIC_URL=http://localhost:9000

COOKIE_SECURE=false
PRESIGNED_URL_EXPIRES_SECONDS=3600

ACCESS_TTL_MINUTES=9999
REFRESH_TTL_DAYS=9999

REDIS_URL=redis://redis:6379/0

CELERY_BROKER_URL=amqp://user:password@rabbitmq:5672//
CELERY_RESULT_BACKEND=redis://redis:6379/1

RABBITMQ_DEFAULT_USER=your_rabbitmq_user_here
RABBITMQ_DEFAULT_PASS=yout_rabbitmq_password_here